<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YearningLife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7BB18EA91EDC7D3800F15127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BB18EC21EDC7D3800F15127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BB18ECD1EDC7D3800F15127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
